#button-parse .ikonli-font-icon {
    -fx-icon-code: "mdi-plus-circle";
}

#button-review .ikonli-font-icon {
    -fx-icon-code: "mdi-checkbox-marked-outline";
}

#button-export .ikonli-font-icon {
    -fx-icon-code: "mdi-file-export";
}

#button-logs .ikonli-font-icon {
    -fx-icon-code: "mdi-file-document-box";
}

#button-dump .ikonli-font-icon {
    -fx-icon-code: "mdi-inbox-arrow-down";
}

#button-quit .ikonli-font-icon {
    -fx-icon-code: "mdi-exit-to-app";
}

#button-set-dir .ikonli-font-icon {
    -fx-icon-code: "mdi-pencil";
}

#button-update .ikonli-font-icon {
    -fx-icon-code: "mdi-update";
}