.jfx-text-field{
    -jfx-focus-color: -fx-accent;
    -jfx-unfocus-color: -fx-unfocus;
    -jfx-label-float: true;
    -fx-text-fill: -fx-content;
}

.jfx-combo-box {
    -jfx-focus-color: -fx-accent;
    -jfx-unfocus-color: -fx-unfocus;
    -jfx-label-float: true;
    -fx-text-fill: -fx-content;
}

.jfx-rippler {
    -jfx-rippler-fill: -fx-content;
}

.jfx-progress-bar > .track,
.jfx-progress-bar > .bar {
    -fx-background-radius: 4;
}

.jfx-progress-bar > .bar {
    -fx-background-color: -fx-accent;
}

.jfx-progress-bar > .track {
    -fx-background-color: -fx-material-light;
}

.jfx-check-box {
    -jfx-checked-color: -fx-accent;
    -fx-text-fill: -fx-content;
}

.jfx-toggle-button {
    -jfx-toggle-color: -fx-accent;
    -jfx-untoggle-color: -fx-content;
    -jfx-toggle-line-color: -fx-accent-light;
    -jfx-untoggle-line-color: -fx-content-dark;
    -fx-text-fill: -fx-content;
}