@font-face {
    font-family: "Roboto Light";
    src: url("fonts/RobotoLight.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoRegular.ttf");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("fonts/RobotoThin.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("fonts/RobotoMedium.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("fonts/RobotoMono-Regular.ttf");
}

.label {
    -fx-font-family: 'Roboto Medium';
}

.button .text {
    -fx-font-size: 13;
}

.text-col,
.text-col .label {
    -fx-alignment: center-left;
}

.checkbox-col,
.checkbox-col .label {
    -fx-alignment: center;
}

.j-checkbox {
    -jfx-checked-color: #C77800;
    -jfx-unchecked-color: #EEEEEE;
}

.check-box:selected > .box {
    -fx-background-color: #C77800;
}

.check-box:default > .box {
    -fx-background-color: #EEEEEE;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark {
    -fx-background-color: #EEEEEE;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
}

.jfx-snackbar-content {
    -fx-background-color: #EEEEEE;
}

.jfx-snackbar-toast {
    -fx-text-fill: #000000;
}

.text-area {
    -fx-background-insets: 0;
    -fx-text-box-border: transparent;
}

.text-area:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.animated-option-button {
    -fx-background-color: #FF9800;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;

}

.animated-option-button .jfx-rippler {
    -jfx-rippler-fill: rgb(113, 118, 114);
}

.combo-box .list-cell:filled:hover {
    -fx-background-color: #FF9800;
}

.jfx-autocomplete-popup .list-cell:filled:selected {
    -fx-background-color: #FF9800;
}

/*Change cells of autocomplete popup*/
.jfx-autocomplete-popup .list-cell {
    -fx-background-color: #FFFFFF;
}

/*--------------------------------------     New stuff down here     --------------------------------------*/

.root {
    -fx-accent: #FF9800;
    -fx-accent-dark: #C25E00;
    -fx-font-family: "Roboto";
    /* to be factored out maybe */
    -fx-material: #212121;
    -fx-material-dark: #1B1B1B;
    -fx-material-light: #424242;
    -fx-content: #EEEEEE;
    -fx-content-light: #FAFAFA;
    -fx-content-dark: #C7C7C7;
    -fx-background-color: -fx-material-dark;
    -fx-unfocus: -fx-material-light;
    -fx-subtle: -fx-material-light;
}

.nav-button {
    -fx-pref-width: 160px;
    -fx-pref-height: 36px;
    -fx-padding: 0 0 0 12;
    -fx-background-color: -fx-material-dark;
    -fx-alignment: center-left;
    -fx-font-size: 13px;
    -fx-text-fill: -fx-content;
    -fx-graphic-text-gap: 16;
    -jfx-button-type: FLAT;
}

.nav-button .ikonli-font-icon {
    -fx-icon-size: 13px;
    -fx-icon-color: -fx-content;
}

#nav-box {
    -fx-padding: 8;
    -fx-spacing: 8;
    -fx-background-color: -fx-material-dark;
}

#nav-separator {
    -fx-pref-width: 160px;
}

.header {
    -fx-background-color: -fx-accent;
    -fx-pref-height: 64px;
    -fx-pref-width: Infinity;
    -fx-padding: 24px;
    -fx-alignment: center-left;
}

.header-text {
    -fx-font-family: "Roboto Medium";
    -fx-fill: -fx-content;
    -fx-font-size: 15px;
}

.text-input:disabled {
    -fx-opacity: 1.0;
}

.tab {
    -fx-pref-width: 96px;
}

.pane-background {
    -fx-padding: 24px;
    -fx-background-color: -fx-material;
}

.pane-background-no-top {
    -fx-padding: 0 24 24 24;
    -fx-background-color: -fx-material;
}

.pane-background-no-left {
    -fx-padding: 24 24 24 0;
    -fx-background-color: -fx-material;
}

.card-backing {
    -fx-padding: 24px;
    -fx-alignment: top-center;
    -fx-background-color: -fx-material-dark;
    -fx-background-radius: 3px;
}

.grid-content {
    -fx-hgap: 12px;
    -fx-vgap: 12px;
    -fx-padding: 24px;
}

.grid-sidebar {
    -fx-hgap: 12px;
    -fx-vgap: 20px;
    -fx-padding: 24px;
}


.text-field-dir {
    -fx-pref-width: 520px;
}

.text-field-filter {
    -fx-pref-width: 80px;
}

.button-inline {
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
}

.button-inline .ikonli-font-icon {
    -fx-icon-color: -fx-content;
    -fx-icon-size: 13px;
    -fx-background-radius: 3px;
}

.floating-button {
    -fx-background-radius: 50px;
    -fx-background-color: -fx-accent;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}

.floating-button .ikonli-font-icon {
    -fx-icon-size: 20px;
    -fx-icon-color: -fx-content;
}

.button-start .ikonli-font-icon {
    -fx-icon-code: "mdi-play";
}

.color-subtle {
    -fx-background-color: -fx-subtle;
    -fx-text-fill: -fx-content;
}

.text-normal {
    -fx-fill: -fx-content;
}

.text-area {
    -fx-text-fill: -fx-content-light;
    -fx-background-color: -fx-material-dark;
}

#text-progress {
    -fx-translate-x: 2;
    -fx-fill: -fx-content-light;
}

#logger {
    -fx-font-family: "Roboto Mono";
    -fx-background-radius: 3px;
    -fx-padding: 24px;
    -jfx-focus-color: -fx-material-dark;
    -jfx-unfocus-color: -fx-material-dark;
}

.sidebar-text {
    -fx-pref-width: 360px;
}



