@font-face {
    font-family: "Roboto Light";
    src: url("fonts/RobotoLight.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoRegular.ttf");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("fonts/RobotoThin.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("fonts/RobotoMedium.ttf");
}

.label {
    -fx-font-family: 'Roboto Medium';
}

.button .text {
    -fx-font-size: 13;
}

.dir-view .tree-cell {
    -fx-background-color: #1B1B1B ;
    -fx-text-fill: #eeeeee ;
}

.dir-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.dir-view .check-box:selected > .box {
    -fx-background-color: #C77800;
}

.dir-view .check-box:default > .box {
    -fx-background-color: #EEEEEE;
}

.dir-view .check-box:selected > .box > .mark,
.dir-view .check-box:indeterminate  > .box > .mark {
    -fx-background-color: #EEEEEE;
}

.table-view {
    -fx-base: #1B1B1B;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #1B1B1B;
}

.table-view .table-cell {
    -fx-font-family: Roboto Regular;
    -fx-text-fill: #eeeeee ;
}

.table-view .table-row-cell {
    -fx-background-color: #1B1B1B ;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #424242;
}

.table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.table-view .column-header .label {
    -fx-text-fill: #C7C7C7;
    -fx-font-weight: bold;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #1B1B1B;
}

.table-view .column-header,
.table-view .filler {
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 10 1 0;
}

.table-view:focused .table-row-cell:focused {
    -fx-background-insets: 0 0 0 0;
}

.table-view:focused .table-row-cell:selected {
    /*-fx-background-color: #C77800;*/
    -fx-background-color: #C25E00;
    -fx-background-insets: 0 0 0 0;
}

.text-col,
.text-col .label {
    -fx-alignment: center-left;
}

.checkbox-col,
.checkbox-col .label {
    -fx-alignment: center;
}

/*.table-row-cell:selected {*/
/*    -fx-background-color: #FF9800;*/
/*}*/

.j-checkbox {
    -jfx-checked-color: #C77800;
    -jfx-unchecked-color: #EEEEEE;
}

.check-box:selected > .box {
    -fx-background-color: #C77800;
}

.check-box:default > .box {
    -fx-background-color: #EEEEEE;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    -fx-background-color: #EEEEEE;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #FF9800;
}

.jfx-progress-bar > .track {
    -fx-background-color: #424242;
}

.jfx-snackbar-content {
    -fx-background-color: #EEEEEE;
}

.jfx-snackbar-toast {
    -fx-text-fill: #000000;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-text-box-border: transparent;
}

.text-area:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.animated-option-button {
    -fx-background-color: #FF9800;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;

}
.animated-option-button .jfx-rippler{
    -jfx-rippler-fill: rgb(113, 118, 114);
}

.combo-box .list-cell:filled:hover {
    -fx-background-color: #FF9800;
}

.jfx-autocomplete-popup .list-cell:filled:selected {
    -fx-background-color: #FF9800;
}

/*Change cells of autocomplete popup*/
.jfx-autocomplete-popup .list-cell {
    -fx-background-color: #FFFFFF;
}

.root {
    -fx-accent: #FF9800;
    -fx-content-base: #FAFAFA;
}

/*--------------------------------------     New stuff down here     --------------------------------------*/

.nav-button {
    -fx-pref-width: 160px;
    -fx-pref-height: 36px;
    -fx-padding: 0 0 0 12;
    -fx-background-color: -fx-accent;
    -fx-alignment: center-left;
    -fx-font-size: 13px;
    -fx-font-family: "Roboto Regular";
    -fx-graphic-text-gap: 16;
    -jfx-button-type: FLAT;
}

.nav-button .ikonli-font-icon {
    -fx-icon-size: 13px;
}

#nav-box {
    -fx-padding: 8;
    -fx-spacing: 8;
    -fx-background-radius: 3;
}

#nav-separator {
    -fx-pref-width: 160px;
}

#button-parse .ikonli-font-icon {
    -fx-icon-code: "mdi-plus-circle";
}

#button-edit .ikonli-font-icon {
    -fx-icon-code: "mdi-pencil";
}

#button-sync .ikonli-font-icon {
    -fx-icon-code: "mdi-sync";
}

#button-load .ikonli-font-icon {
    -fx-icon-code: "mdi-database";
}

#button-quit .ikonli-font-icon {
    -fx-icon-code: "mdi-exit-to-app";
}

.header {
    -fx-background-color: -fx-accent;
    -fx-pref-height: 64px;
    -fx-pref-width: Infinity;
    -fx-padding: 24px;
    -fx-alignment: center-left;
}

.header-text {
    -fx-font-family: "Roboto Medium";
    -fx-fill: -fx-content-base;
    -fx-font-size: 15px;
}

